.page-header-text {
  color: black;
  font-size: 3rem;
  font-family: 'Rock Salt', cursive;
  display: inline;
}

header {
    /* background-image: url('../images/flying-arrow.jpg');
    background-repeat: no-repeat;
    */
    margin-bottom: 1.5rem;
}

.logo-archery {
  width: 6rem;
  vertical-align: middle;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* social media */
.social-archery {
  color: gray;
}
.social-archery:hover {
  color: dimgray;
}

.search-archery {
  width: 300px;
  float: right;
}

/* CLASS IMAGES */
.img-class-archery {
  width: 200px;
  box-shadow: 3px 3px 3px;
  margin-bottom: 1rem;
  border-radius: 3%;
}

/* In wide screen, fix the height so panels align.  In narrow screen remove fixed height.  */
@media screen and (min-width: 992px) {
  .panel-classes-archery {
    min-height: 600px;
  }

  .panel-lessons-archery {
    min-height: 300px;
  }
}



/* NAVIGATION */
nav {
  /*
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding-right: 2rem;
  */
}

/*
nav a {
  padding: .3rem;
  text-decoration: none;
}
*/

/* use undecoratorated list for menu items so we can easily add verticle separators */
/*
nav ul li
{
  list-style-type: none;
  display: inline;
}

nav li:not(:first-child):before {
    content: " | ";
}
*/

/* BODY AND GENERAL RULES */
body {
  font-family: 'Open Sans', Sans-serif;
  background-color: white;
  margin: 6rem;
  /*padding: .5rem;*/
  color: rgb(145, 136, 126);
}

.main {
  min-height: 60rem; /* so footer does not get to close to content */
}



/* TEXT */
.h1-archery {
  font-size: 2rem;
  color: rgb(149,	203,69);	/* green */
}

.h2-archery {
  font-size: 1.7rem;
  color: rgb(145, 136, 126); /* gray */
}

.h3-archery {
  font-size: 1.2rem;
  color: rgb(145, 136, 126); /* gray */
}

/* paragraph styling - may not be needed since the same styling is already on the body */
.p-archery {
  padding: .5rem;
  color: rgb(145, 136, 126);
}

/* BUTTONS */
.btn-archery {
  color: rgb(213,	234,	185);
  background-color: rgb(79,	63,	52);
}
.btn-archery:hover {
  color: rgb(79,	63,	52);
  background-color: rgb(213,	234,	185);
}

.btn-small-archery {
  width: 4rem;
}
.btn-medium-archery{
  width: 6rem;
}
.btn-large-archery {
  width: 8rem;
}
/* COLORS
rgb(149,	203,69);	    green
rgb(79,	63,	52);	      brown
rgb(213,	234,	185);	  light green
rgb(145, 136, 126);     gray
*/
.square {
  height: 5rem;
  width: 5rem;
}

.lt-primary-archery{
  background-color: rgb(213,	234,	185);
}

.dk-primary-archery {
  background-color: rgb(149,	203,69);
}

.lt-secondary-archery {
  background-color: rgb(145, 136, 126);
}

.dk-secondary-archery {
  background-color: rgb(79,	63,	52);
}

.a-archery {
  color: rgb(79,	63,	52);
}
.a-light-archery {
  color: rgb(145, 136, 126);
}

article {
  padding: 1rem;
  margin-bottom: 2rem;
  border: 1px solid black;
}

.a-archery:hover {
  color: rgb(145, 136, 126);
  background-color: rgb(79,	63,	52);
}

/* SLIDES */
.slideshow {
  min-width: 200px;
  max-width: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

}

/* LAYOUT */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.flex-item {
  flex:1;
  padding: 1rem;
}

/* Instructor Profiles */
.profile-archery {
  width: 150px;
  box-shadow: 6px 6px 6px grey;
  transition-duration: 1s;
  border-radius: 50%;
  border: 4px double rgb(79,	63,	52);
  margin-bottom: 2rem;
}

.profile-archery:hover {
  transform: rotate(-7deg) scale(1.1, 1.1);
  transition-duration: 1s;
}

/* MAP */
#googleMap {
  margin-top: 2rem;
  width:100%;
  height:400px;
}

footer {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 1.2rem;
  font-weight:lighter;
  color: white;
  background-color: rgb(79,	63,	52);
  padding: 1rem;
}


/* Workaround:  This fixes styling issue on the google search botton */
input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
    box-sizing: content-box;
    line-height: normal;
}
