.page-header-text {
  color: black;
  font-size: 2rem;
  font-family: 'Rock Salt', cursive;
  display: inline;

}

header {
    /* background-image: url('../images/flying-arrow.jpg');
    background-repeat: no-repeat;
    */
    margin-bottom: 1.5rem;
}

.logo-archery {
  width: 6rem;
  vertical-align: middle;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* NAVIGATION */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav a {
  padding: .3rem;
}

body {
  font-family: 'Open Sans', Sans-serif;
  background-color: white;
  margin: 2rem;
}

.h1-archery {
  color: rgb(149,	203,69);	/* green */
}

.h2-archery {
  color: rgb(145, 136, 126); /* gray */
}

.h3-archery {
  color: rgb(145, 136, 126); /* gray */
}

.p-archery {
  padding: .5rem;
  color: rgb(145, 136, 126); /* gray */
}

/* BUTTONS */
.btn-archery {
  color: rgb(213,	234,	185);
  background-color: rgb(79,	63,	52);
}
.btn-archery:hover {
  color: rgb(79,	63,	52);
  background-color: rgb(213,	234,	185);
}

.btn-small-archery {
  width: 4rem;
}
.btn-medium-archery{
  width: 6rem;
}
.btn-large-archery {
  width: 8rem;
}
/*
rgb(149,	203,69);	    green
rgb(79,	63,	52);	      brown
rgb(213,	234,	185);	  light green
rgb(145, 136, 126);     gray
*/
.square {
  height: 5rem;
  width: 5rem;
}

.lt-primary-archery{
  background-color: rgb(213,	234,	185);
}

.dk-primary-archery {
  background-color: rgb(149,	203,69);
}

.lt-secondary-archery {
  background-color: rgb(145, 136, 126);
}

.dk-secondary-archery {
  background-color: rgb(79,	63,	52);
}

.a-archery {
  color: rgb(79,	63,	52);

}

article {
  padding: 1rem;
}

.a-archery:hover {
  color: rgb(145, 136, 126);
  background-color: rgb(79,	63,	52);
}

/* SLIDES */
.slideshow {
  min-width: 200px;
  max-width: 600px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

}

/* LAYOUT */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.flex-item {
  flex:1;
  padding: 1rem;
  margin-bottom: .5rem;
}

/* Instructor Profiles */
.profile-archery {
  width: 200px;
  box-shadow: 6px 6px 6px grey;
  transition-duration: 1s;
}

.profile-archery:hover {
  transform: rotate(7deg) scale(1.1, 1.1);
  transition-duration: 1s;
}
